<footer class="footer">

    <section>
        <a href="/"><svg class="footer__logo"><use xlink:href="#qb" /></svg></a>
        <p>
            Technology courses via Email.
        </p>
        <p>
            Copyright &copy; 2017 QuickBits. All rights reserved.
        </p>
    </section>

    <section>
        <h3>Be Our Buddy!</h3>
        <ul>
            <li><a href=""><svg class="footer__icon"><use xlink:href="#icon-twitter" /></svg> Twitter</a></li>
        </ul>
    </section>

    <section>
        <!-- <h3>About</h3>
        <ul>
            <li><a href="faq">FAQ</a></li>
            <li><a href="support">Support</a></li>
        </ul> -->
    </section>

</footer>
