<footer class="footer">

    <section>
        <h3><a href="/"><svg><use xlink:href="#qb" /></svg></a></h3>
        <p>
            Technology courses via Email.
        </p>
        <p>
            Copyright &copy; 2017 QuickBits. All rights reserved.
        </p>
    </section>

    <section>
        <h3>Be Our Buddy!</h3>
        <ul>
            <li><a href="">Twitter</a></li>
        </ul>
    </section>

    <section>
        <h3>About</h3>
        <ul>
            <li><a href="faq">FAQ</a></li>
            <li><a href="support">Support</a></li>
        </ul>
    </section>

</footer>
