<section class="header">
    <div class="tagline">
        <div class="lede">It's Time to Level Up.</div>
        <p>
            Join our newsletter now to be notified when we launch our first
            set of courses!
        </p>
        <a class="header__button" href="http://eepurl.com/cJRTJD" target="_blank">Sign Up</a>

    </div>
    <div class="features">
        <div class="feature">
            <h2>
                <svg class="feature__icon"><use xlink:href="#icon-calendar-check-o" /></svg>
                10 Days
            </h2>
            <p>
                Learn a new, valuable skill in just two weeks. Lessons are
                delivered via email daily. A little each day goes a long way.
            </p>
        </div>
        <div class="feature">
            <h2>
                <svg class="feature__icon"><use xlink:href="#icon-stopwatch" /></svg>
                10 Minutes
            </h2>
            <p>
                Each lesson can be completed in about ten minutes. Squeeze it
                in over coffee or in between meetings.
            </p>
        </div>
        <div class="feature">
            <h2>
                <svg class="feature__icon"><use xlink:href="#icon-cool" /></svg>
                Better Job
            </h2>
            <p>
                Land a better job using the skills you learn from QuickBits
                courses. We're teaching current in demand skills employers need.
            </p>
        </div>
    </div>
</section>
