<section class="header">
    <div class="tagline">
        It's Time to Level Up.
    </div>
    <div class="features">
        <div class="feature">
            <h2>
                <svg class="feature__icon"><use xlink:href="#icon-calendar-check-o" /></svg>
                10 Days
            </h2>
            <p>
                Learn a new, valuable skill in just two weeks. Lessons are
                delivered via email daily.
            </p>
        </div>
        <div class="feature">
            <h2>
                <svg class="feature__icon"><use xlink:href="#icon-stopwatch" /></svg>
                10 Minutes
            </h2>
            <p>
                Each lesson can be completed in about ten minutes. Squeeze it
                in over coffee or in between meetings.
            </p>
        </div>
        <div class="feature">
            <h2>
                <svg class="feature__icon"><use xlink:href="#icon-cool" /></svg>
                Better Job
            </h2>
            <p>
                Land a better job using the skills you learn from QuickBits
                courses.
            </p>
        </div>
    </div>
</section>
