
$header-size: 85%;

@keyframes slideTagline {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.header {
    background: $clr-off-white;
    margin-top: 50px;
    min-height: $header-size;
    position: relative;

    @include media($desktop) {
        //padding-top: 82px;
    }

    .tagline {
        background: $clr-black url(../images/headerbg-02.jpg) no-repeat center center;
        background-size: cover;
        bottom: 0;
        //clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); // left -> right
        //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); // right -> left
        clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
        color: $clr-headertxt;
        font-size: 54px;
        left: 0;
        padding: 1.5em;
        position: absolute;
        right: 0;
        text-shadow: 2px 2px 0 darken($clr-gray, 25%);
        top: 0;
        z-index: 10;
    }

    .features {
        bottom: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        z-index: 20;
    }

    .feature {
        background: #ffffff;
        border: 1px solid $clr-highlight-alt;
        border-radius: 0.25em;
        box-shadow: 0 0 1.0em transparentize($clr-black, 0.85);
        color: #222629;
        margin: 0 1.0em;
        padding: 1.5em;
        width: 25%;

        &:hover {
            background: #ffffff;
            color: $clr-black;
        }

        h2 {
            color: $clr-highlight;
            font-size: 32px;
            font-weight: bold;
        }
    }

    .feature__icon {
        fill: $clr-highlight;
        height: 32px;
        margin-right: 8px;
        width: 32px;
    }
}
.header__tagline {
    animation-name: slideTagline;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.35s;
    font-size: 64px;
    padding: 1.0em;
}

.header__tagline01 {
    background: $red;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    display: inline-block;
    font-size: 48px;
    padding-right: 15%;
    text-align: right;
    width: 50%;
}
