$nav-transition: all 0.35s ease-out;

.navigation {
    background: $clr-navbg;
    background-image: linear-gradient(33deg, $clr-navbg, $clr-black);
    box-shadow: 0 0 0.5em $clr-black;
    color: $clr-navtxt;
    display: table;
    font-size: 14px;
    padding: 0 1.0em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    @include media($desktop) {
        font-size: 16px;
    }

    .navlogo {
        display: table-cell;
        padding-right: 12px;
        vertical-align: middle;
        width: 76px;

        @include media($desktop) {
            width: 175px;
            padding-right: 24px;
        }

        svg {
            height: 24px;
            margin: 0.75em 0.5em;
            width: 132px;

            @include media($desktop) {
                height: 32px;
                margin: 0.5em 1.0em;
                width: 149px;
            }
        }
    }

    nav {
        display: table-cell;
        vertical-align: middle;

        a {
            background: transparentize($clr-off-white, 0.75);
            border-radius: 0.25em;
            color: $clr-off-white;
            padding: 0.25em 0.75em;
            text-decoration: none;

            @include media($desktop) {
                background: transparent;
                border-bottom: 3px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                border-radius: none;
                display: inline-block;
                padding: 1.25em 1.0em 0.65em 1.0em;
                transition: $nav-transition;
            }

            &:hover {
                background: $clr-navbg;
                border-bottom: 3px solid $clr-highlight;
                border-left: 2px solid transparentize($clr-black, 0.5);
                border-right: 2px solid transparentize($clr-black, 0.5);
                color: $clr-white;
            }
        }
    }
}
