$nav-transition: all 0.35s ease-out;

.navigation {
    background: $clr-navbg;
    background-image: linear-gradient(33deg, $clr-navbg, $clr-black);
    box-shadow: 0 0 0.5em $clr-black;
    color: $clr-navtxt;
    display: table;
    font-size: 16px;
    padding: 0 1.0em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .navlogo {
        display: table-cell;
        padding-right: 3.0em;
        width: 165px;

        svg {
            height: 32px;
            margin: 0.5em 1.0em;
            width: 149px;
        }
    }

    nav {
        display: table-cell;
        vertical-align: top;

        a {
            background: transparent;
            border-bottom: 3px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            color: $clr-off-white;
            display: inline-block;
            padding: 1.25em 1.0em 0.65em 1.0em;
            text-decoration: none;
            transition: $nav-transition;

            &:hover {
                background: $clr-navbg;
                border-bottom: 3px solid $clr-highlight;
                border-left: 2px solid transparentize($clr-black, 0.5);
                border-right: 2px solid transparentize($clr-black, 0.5);
                color: $clr-white;
            }
        }
    }
}
